name: Dart CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image:  google/dart:2.6-dev

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: pub get
    - name: dartfmt
      run: dartfmt lib/ test/ example/ -n;  [ -z $(dartfmt lib/ test/ example/ -n) ] || exit 1
    - name: Run unit tests
      run: pub run test
